@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your playground Edwin, just for you!</h1>
    <p>Do not forget to use git for source control!!</p>
    
    <p>Here are some play areas, just click on the text to navigate</p>
    <ul>
        <a class="nav-link text-dark" asp-area="" asp-controller="Northwind" asp-action="Index">Northwind database</a>
    </ul>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
