/*
Rule set (for now):
- Use px for borders
- Use % for stuff like width
- Use rem (occasionally em) for font sizes 
-->CONTEXT: em is font size relative 
to font size of parent element, 
rem is relative to font size of an 
html element
-->Source: https://blog.logrocket.com/using-em-vs-rem-css/

*/

/*We want width to take 
padding into account!*/
*{
    box-sizing: border-box;
}

/*Generic styling*/
/*Generic button styling*/
.button {
    background-color: lightblue;
    border-radius: 25px; /*To round the corners*/
    font-weight: bold;
    color: white;
    text-align: center; /*So that text is centered*/
    cursor: pointer; /*On hover the mouse points to it!*/ 
    padding-top: 0px;
    padding-bottom: 0px;
}

/*Generic button div styling*/
.buttonDiv {
    text-align: center; /*All text elements align to centre of their space*/
    padding: 5px 5px; /*Left number is vertical, right is hozirontal*/
    justify-content: space-between; /*outer div spans entire width (so horizontal version of
    align items)*/
    align-items: center; /*Centres elements inside vertically*/
}

/*For hidden elements*/
.hidden {
    display: none;
}

/*We set no margin around
the body*/
body {
    margin: 0px;
}

/*BASE HTML STUFF*/
header {
    background-color: lightblue;
    text-align: center; /*Text inside centres inside*/
    padding: 25px;/*Pads around the header*/
    min-height: 20%; /*Let us minimally take this amount of the height*/
}

.navbarIN, .navbarOUT {
    background-color: lightgrey;
    text-align: center; /*All text elements align to centre of their space*/
    padding: 15px 15px; /*Left number is vertical, right is hozirontal*/
    display: flex; /*Lets items inside grow or shrink in proportion to each other*/
    justify-content: space-between; /*outer div spans entire width (so horizontal version of
    align items)*/
    align-items: center; /*Centres elements inside vertically*/
    width: 100%; /*Take up entire width of screen*/
    
    min-height: 10%; /*Let us take this amount of the height*/
}

.navbarIN div, .navbarOUT div {
    float: left;
    width: 25%;
    flex-basis: 25%;  /* Each element takes 25% of the available space */

}

/*We override some attributes for navbar buttons*/
.navbarIN .button, .navbarOUT .button {
    background-color: blue !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    }


/*Override padding on outer button divs in navbar*/
.navbarIN .buttonDiv, .navbarOUT .buttonDiv{
    padding: 0px !important;
}

main {

    min-height: 50%; /*Let us minimally take this amount of the height*/
    display: flex; /*Lets items inside grow or shrink in proportion to each other*/
    text-align: center; /*All text elements align to the centre of their space*/
}

main aside {
    background-color: ghostwhite;
    width: 25%;
    float: left; /*Floats to left of other elements*/
    padding: 0px 20px;
}

main section {
    width: 50%;
    float: left; /*Floats to left of other elements*/
    padding: 0px 20px;
}

main article {
    background-color: ghostwhite;
    width: 25%;
    float: left; /*Floats to left of other elements*/
    padding: 0px 20px;
}

footer {
    background-color: lightblue;
    text-align: center; /*Text inside centres inside*/
    padding: 25px;/*Pads around the header*/

    
    min-height: 20%; /*Let us minimally take this amount of the height*/
}


/*Login page stuff*/
main .login {
    width: 100%;
}

main .submit {
    padding: 5px; /*Looks better like this*/
}




/*To do list page stuff*/
.deleteButtons .button {
    background-color: red !important; 
    padding: 5px 10px;
}

.deleteButtons {
    text-align: center; /*All text elements align to centre of their space*/
    padding: 5px 5px; /*Left number is vertical, right is hozirontal*/
    justify-content: space-between; /*outer div spans entire width (so horizontal version of
    align items)*/
    align-items: center; /*Centres elements inside vertically*/

}

/*To edit an item in the table*/
.editableItems tr td {
    cursor: pointer; /*On hover the mouse points to it!*/
}

/*By default, hide edit item option*/
#EditToDoListItems {
    display: none;
}

#StopEditing {
    display: none;
}



/*For small screens*/
@media screen and (max-width: 600px){
    aside, section, article {
        width: 100%; 
        /*Check what happens to the page if the screen is smaller!*/
    }
}