/*We want width to take 
padding into account!*/
*{
    box-sizing: border-box;
}

/*We set no margin around
the body*/
body {
    margin: 0px;
}

header {
    background-color: darkslategrey;
    text-align: center; /*Text inside centres inside*/
    padding: 25px;/*Pads around the header*/
    min-height: 20%; /*Let us minimally take this amount of the height*/
}

.navbar {
    background-color: slategray;
    text-align: center; /*All text elements align to centre of their space*/
    padding: 15px 15px; /*Left number is vertical, right is hozirontal*/
    display: flex; /*Lets items inside grow or shrink in proportion to each other*/
    justify-content: space-between; /*outer div spans entire width (so horizontal version of
    align items)*/
    align-items: center; /*Centres elements inside vertically*/
    width: 100%; /*Take up entire width of screen*/
    
    min-height: 10%; /*Let us take this amount of the height*/
}

.navbar div {
    float: left;
    width: 25%;
    flex-basis: 25%;  /* Each element takes 25% of the available space */

}

main {

    min-height: 50%; /*Let us minimally take this amount of the height*/
    display: flex; /*Lets items inside grow or shrink in proportion to each other*/
    text-align: center; /*All text elements align to the centre of their space*/
}

main aside {
    width: 20%;
    float: left; /*Floats to left of other elements*/
    padding: 0px 20px;
}

main section {
    width: 55%;
    float: left; /*Floats to left of other elements*/
    padding: 0px 20px;
}

main article {
    width: 25%;
    float: left; /*Floats to left of other elements*/
    padding: 0px 20px;
}

/*Login page stuff*/
main .login {
    width: 100%;
}


footer {
    background-color: darkslategrey;
    text-align: center; /*Text inside centres inside*/
    padding: 25px;/*Pads around the header*/

    
    min-height: 20%; /*Let us minimally take this amount of the height*/
}
