@{
    ViewData["Title"] = "Scrum Increments";
}

<div class="text-center">
    <h1>Increments</h1>
    <p>Write any notes about any increments during your Scrum journey here!</p>
    
    <div class="container">
        <h1>Scrum Increment Notes</h1>
        <form>
            <div class="form-group">
                <textarea placeholder="Increment notes" class="form-control" name="Increment Notes" rows="10" required></textarea>
            </div>
            <button type="submit" class="btn btn-lg btn-dark btn-block">Update Notes</button>
        </form>
    </div>
</div>


