<!--Extend from a base template-->
{% extends 'base.html' %}

{% block content_dashboard %}
    <h1>Welcome to the to-do list {{ user.name }}!</h1>

    <!--Show all to-do list items-->
    {% if todolistItemInstances %}
    <div class="tableDiv">
        <table class="editableItems" id="editableItems">
            <tr>
                <th class="hidden">Item ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Completed</th>
                <th>Date created</th>
                <th>Date completed</th>
                <th>Update item</th>
            </tr>
        {% for itemInstance in todolistItemInstances%}
            <tr class="divider">
                <td class="hidden">{{ itemInstance.id }} </td>
                <td onclick="editTodolistitem()">{{ itemInstance.title }}</td>
                {% if itemInstance.description %}
                <td onclick="editTodolistitem()">{{ itemInstance.description }}</td>
                {% else %}
                <td onclick="editTodolistitem()"> No description</td>
                {% endif %}
                <td onclick="editTodolistitem()">{{ itemInstance.completed }}</td>
                <td onclick="editTodolistitem()">{{ itemInstance.dateCreated }}</td>
                <td onclick="editTodolistitem()">{{ itemInstance.dateCompleted }}</td>
                <td>
                    <form action="{% url 'todolistPage' %}" method="POST">
                        {% csrf_token %} <!--To register user-->
                        <!--We pass the id of the itemInstance-->
                        <input type="hidden" name="itemInstanceID" value={{itemInstance.id}}>
                        
                        <div class="deleteButtons">
                            <input type="submit" name="formType" class="button" value="Delete item" onclick="checker(event)">
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <form action="{% url 'todolistPage' %}" method="POST">
                    {% csrf_token %} <!--To register user-->

                    <!--We pass the id of the itemInstance-->
                    <input type="hidden" name="itemInstanceID" value={{itemInstance.id}}>

                    <td class="hidden">{{ itemInstance.id }} </td>
                    <td onclick="editTodolistitem()">
                        <input type="text" name="title" value="{{ itemInstance.title }}" required>
                    </td>
                    {% if itemInstance.description %}
                    <td onclick="editTodolistitem()">
                        <input type="text" name="description" value="{{ itemInstance.description }}">
                    </td>
                    {% else %}
                    <td onclick="editTodolistitem()"> 
                        <input type="text" name="description" value="No description">
                    </td>
                    {% endif %}
                    {% if itemInstance.completed == False %}
                    <td>
                        <label for="Completed task">Completed task</label>
                        <select name="Completed task" id="Completed task">
                            <option value="False">False</option>
                            <option value="True">True</option>
                        </select>
                    </td>
                    {% else %}
                    <td>
                        <label for="Completed task">Completed task</label>
                        <select name="Completed task" id="Completed task">
                            <option value="True">True</option>
                            <option value="False">False</option>
                        </select>
                    </td>
                    {% endif %}
                    <td>
                        {{ itemInstance.dateCreated }}
                    </td>
                    <td>
                        <label for="Date completed">Date completed</label>
                        <input type="date" name="Date completed" value="{{ itemInstance.dateCompleted }}|date:'Y-m-d'">
                        
                    </td>
                    <td>
                        <input type="submit" name="formType" class="button" value="Update item" onclick="checker(event)">
                    </td>
                </form>
            </tr>

        {% endfor %}
        </table>
    </div>
    {% else %}
        <h1>No to-do list items</h1>
    {% endif %}
    

    <!--To-do list form-->
    <div class="ToDoListForm">
        <form action="{% url 'todolistPage' %}" method="POST">
            {% csrf_token %} <!--For all POST requests-->

            <div class="title">
                <p>Title: </p>
                <input type="text" name="title" required>
            </div>
            <div class="description">
                <p>Description: </p>
                <input type="text" name="description" required>
            </div>
            <div class="buttonDiv">
                <div class="submit">
                    <input type="submit" name="formType" class="button" value="Add item">
                </div>
            </div>
            
        </form>
    </div>

    <div id="EditToDoListItems">
        <form action="{% url 'todolistPage' %}" method="POST">
            {% csrf_token %} <!--For all POST requests-->
            
            <div class="buttonDiv">
                <div class="submit">
                    <input type="submit" name="formType" class="button" value="Confirm item edits">
                </div>
            </div>

        </form>
    </div>

    <div id="StopEditing">
        <div class="buttonDiv">
            <button class="button">Stop editing</button>
        </div>
    </div>
{% endblock %}