
@{
    ViewData["Title"] = "Northwind page";
}

<h1>Northwind</h1>
<p>Here is the database that is used in this play area</p>
<img src="Images/NorthwindDatabaseImage.png" alt="Northwind Database Image" />

<p>Note the following</p>
<ul>
    <li>
        SQLite is the database engine used
    </li>
    <li>
        Each category has a unique identifier, name, description, and picture.
    </li>
    Each product has a unique identifier, name, unit price, units in stock, and other fields.
    <li>
        Each product is associated with a category by storing the category’s unique identifier.
    </li>
    <li>
        The relationship between Categories and Products is one-to-many, meaning each category can have zero or more products.
    </li>
    <li>
        This is indicated in Figure 10.1 by an infinity symbol at one end (meaning many) and a yellow key at the other end (meaning one).
    </li>
</ul>

<p>Credit to Mark J. Price, whose section on Working with Data Using Entity Framework Core, in his ASP.NET Core book is the basis of this work</p>