html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    /*Margin bottom by footer height*/
    margin-bottom: 60px;

    /**Align color scheme to emblem image*/
    background: linear-gradient(#5E17EB, white);
    /**Stretch the same colour scheme all the way*/
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/**NOTE: As of June 23 this is only applied to 
    elements on the index of each controller
    I personally don't see a massive need to 
    go deeper than that. The market will decide
*/
.crud-button {
    /*border-style: solid; /**To see the border*/
    border-radius: 10px;
    
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

    .crud-button:hover {
        background-color: #5E17EB;
    }

#icon {
    border-radius: 20px; /*To round the edges of the div*/
    overflow: hidden; /*Child elements don't overflow*/
    /*Make normal size*/
    width: 50px;
    height: auto;
}

/**All navigation buttons EXCEPT home button*/
/**Home button is an image so it is larger*/
.nav-item {
    /*border-style: solid; /**To see the border*/
    border-radius: 10px;
    /*Harder to misclick*/
    margin-left: 5px;
    margin-right: 5px;
}

    .nav-item:hover {
        background-color: #5E17EB;
    }


.socialMediaIcon {
    /* standard social media icon size*/
    width: 36px;
    height: 36px;
}