@{
    ViewData["Title"] = "Scrum Page";
}

<div class="text-center">
    <p>
        Welcome to your Scrum homepage! This product is directly inspired by my use of Scrum,
        which is an "Agile" work methodology typically used in Software Development teams.
    </p>

    <p>
        It is certainly not just limited to Software Development though! Think of any long-term
        project that you might have, and I would be very certain that you would complete that project
        much more quickly than you would think than by going through a traditional planned approach.
    </p>

    <p>
        If you would like to read more about what Scrum is then take a look at
        https://www.scrum.org/resources/scrum-guide, where a short and easy-to-read description of
        Scrum can be found.
    </p>

    <ul>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Scrum_Product" asp-action="Index">Product</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Scrum_Increments" asp-action="Index">Increments</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Scrum_Sprint" asp-action="Index">Sprint</a>
        </li>
    </ul>
</div>


