@{
    ViewData["Title"] = "Scrum Increments";
}

<div class="text-center">
    <h1>Sprint Active</h1>
    <p>Take a look at Sprint ((1)) here!!</p>

    <div class="container">
        <h1>Sprint Burndown Chart</h1>
    </div>
    
    <div class="container">
        <h1>Sprint Notes</h1>
        <form>
            <div class="form-group">
                <textarea placeholder="Sprint Notes" class="form-control" name="Sprint Notes" rows="10" required></textarea>
            </div>
            <button type="submit" class="btn btn-lg btn-dark btn-block">Update Notes</button>
        </form>
    </div>
</div>


