<!-- dashboardBaseHTML.html -->

<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donkey site</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/mainsite/css/style.css' %}">
    <script src="{% static '/mainsite/js/baseJS.js' %}" defer></script>
</head>
<body>
    <!--Semantic tags are used to keep content organised
    SEO
    Screen readers for accessibility

        <header> - introductor content. Title, logo, author information
        <nav> - For navigation bar and links
        <main> - This is the main content of the page
            section, aside, article, div (generic)
        <section> - dependent (on page) of content
        <aside> - side content (author info, fun facts, quotes, external links, comments, etc)
        <article> - independent content (on page)
            E.g. news article, job post, blog post
        <footer> - closing content (autho info, copywrite info, etc.)
    
    
    -->
        {% load static %}
        
        
        <header>
            <div class="TitleAndEmblem">
            <h1>Donkey site</h1>
            <img src="{% static '/mainsite/images/DonkeyEmblem.png' %}" alt="Logo" class="DonkeyEmblemImage">
            </div>
        </header>
        
        {% if user.is_authenticated %}
            <nav class="navbarIN">
                    <div class="buttonDiv">
                        <a href="{% url 'logoutPage' %}">
                            <button class="button" id="logoutPageButton" onclick="clickNavbarButton(this.id)">Log out</button>
                        </a>
                    </div>

                    <div class="buttonDiv">
                        <!--To access to do list -->
                        <a href="{% url 'dashboardPage' %}">
                            <button class="button" id="dashboardPageButton" onclick="clickNavbarButton(this.id)">Dashboard</button>
                        </a>
                    </div>

                    <div class="buttonDiv" style="display:none;">
                        <button class="button" style="display:none;" id="languageSwitch" onclick="languageSwitch()">
                            English
                        </button>
                    </div>
                    
            </nav>
        {% else %}
            <nav class="navbarOUT">
                <div class="buttonDiv">
                    <a href="{% url 'registerPage' %}">
                        <button class="button" id="registerPageButton" onclick="clickNavbarButton(this.id)">Register</button>
                    </a>
                </div>
            
                <div class="buttonDiv">
                    <a href="{% url 'loginPage' %}">
                        <button class="button" id="loginPageButton" onclick="clickNavbarButton(this.id)">Log in</button>
                    </a>
                </div>

                <div class="buttonDiv" style="display:none;">
                    <button class="button" style="display:none;" id="languageSwitch" onclick="languageSwitch()">
                        English
                    </button>
                </div>
                
            </nav>

        {% endif %}

        <main>

            <aside>
                <h2 class="hidden">An aside</h2>
                <h1>
                    Here are some fun facts
                </h1>
                <ul>
                    <li>Improving 1% every day in something results in 37 times improvement in a year (this is a mathematical fact)</li>
                    <li>Scientific studies have found that daily meditation can enhance your memory and attention</li>
                </ul>
            </aside>
            <!--Create a block-->
            
            <section>
                <h2 class="hidden">A section</h2>
                {% for message in messages %}

                <h1>{{message}}</h1>

                {% endfor %}
                {% block content_dashboard %}

                {% endblock %}
                
            </section>

            <article>
                <h2 class="hidden">An article</h2>
                <h1>What is the purpose of this site?</h1>
                <p>This is a site for you to explore what I can do. Beyond that, use it as you wish!</p>
            </article>

        </main>

        <footer>
            <div class="buttonDiv">
                <a href="{% url 'contactusPage' %}">
                    <button class="button" id="contactusPageButton" onclick="clickNavbarButton(this.id)">Contact us</button>
                </a>
            </div>
        </footer>

    

</body>
</html>