<!-- dashboardBaseHTML.html -->

<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaitho's site</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/mainsite/css/style.css' %}">
    <script src="{% static '/mainsite/js/baseJS.js' %}"></script>
</head>
<body>
    <!--Semantic tags are used to keep content organised
    SEO
    Screen readers for accessibility

        <header> - introductor content. Title, logo, author information
        <nav> - For navigation bar and links
        <main> - This is the main content of the page
            section, aside, article, div (generic)
        <section> - dependent (on page) of content
        <aside> - side content (author info, fun facts, quotes, external links, comments, etc)
        <article> - independent content (on page)
            E.g. news article, job post, blog post
        <footer> - closing content (autho info, copywrite info, etc.)
    
    
    -->

        <header>
            <h1>Header</h1>
        </header>

        <nav class="navbar">
                <div class="buttonDiv">
                    <a href="{% url 'registerPage' %}">
                        <button class="button" id="registerPageButton" onclick="clickNavbarButton(this.id)">Register</button>
                    </a>
                </div>
            
                <div class="buttonDiv">
                    <a href="{% url 'loginPage' %}">
                        <button class="button" id="loginPageButton" onclick="clickNavbarButton(this.id)">Log in</button>
                    </a>
                </div>
            
            
                <div class="buttonDiv">
                    <!--To access to do list -->
                    <a href="{% url 'todolistPage' %}">
                        <button class="button" id="todolistPageButton" onclick="clickNavbarButton(this.id)">To-do list</button>
                    </a>
                </div>
            

                <div class="buttonDiv">
                    <a href="{% url 'logoutPage' %}">
                        <button class="button" id="logoutPageButton" onclick="clickNavbarButton(this.id)">Log out</button>
                    </a>
                </div>
                
        </nav>
        
        <main>

            <aside>
                <h2>An aside</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, consectetur ab. Ducimus magni recusandae repellendus quos et perferendis inventore est? Ipsam omnis pariatur exercitationem voluptates libero, fugit distinctio molestias eveniet?</p>
            </aside>
            <!--Create a block-->
            
            <section>
                {% block content_dashboard %}

                {% endblock %}
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga molestias accusantium porro hic et qui odio numquam, placeat iste ipsa esse ducimus autem? Officiis enim delectus quos unde doloribus ex.</p>


            </section>

            <article>
                <h2>An article</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, suscipit non expedita odit nisi quasi harum reprehenderit quis temporibus cum praesentium amet, eaque id laboriosam rerum, sint autem ipsum qui.</p>
            </article>

        </main>

        <footer>
            <h1>Footer</h1>
        </footer>

    

</body>
</html>