<!-- dashboardBaseHTML.html -->

<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main page</title>
</head>
<body>
    <!--Let us wrap this content-->
    <div class="wrapper">
        <div class="Dashboard">
            <a href="{% url 'registerPage' %}">Register</a>

            <a href="{% url 'loginPage' %}">Log in</a>
            
            <!--To access to do list -->
            <div class="Dashboard">
                <a href="{% url 'todolistPage' %}">To-do list</a>
            </div>

            <div class="Log out">
                <a href="{% url 'logoutPage' %}">Log out</a>
            </div>
        </div>

        <!--Create a block-->
        {% block content_dashboard %}

        {% endblock %}
        

    </div>

</body>
</html>