<!--Extend from a base template-->
{% extends 'base.html '%}

{% block content_dashboard %}
    <div class="Title">
        <h1>Welcome to your dashboard {{ user.name }}!</h1>
    </div>
    
    <!--To access to do list -->
    <div class="Dashboard">
        <div class="buttonDiv">
        <a href="{% url 'todolistPage' %}">
            <button class="button">To-do list</button>
        </a>
        </div>
    </div>

    <div class="Log out">
        <div class="buttonDiv">
        <a href="{% url 'logoutPage' %}">
            <button class="button"> Log out</button>
        </a>
        </div>
    </div>

{% endblock %}