<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Log in here!</h1>

    {% for message in messages %}

    <h2>{{message}}</h2>

    {% endfor %}

    <!--Register form-->
    <div class="Login form">
        <form action="{% url 'loginPage' %}" method="POST">
            {% csrf_token %} <!--To register user-->

            <div class="username">
                <p>Username: </p>
                <input type="text" name="username">
            </div>
            <div class="password">
                <p>Password: </p>
                <input type="text" name="password">
            </div>
            
            <div class="submit"></div>
                <input type="submit" value="log in">
            </div>
        </form>
    </div>
</body>
</html>