<!--Extend from a base template-->
{% extends 'base.html' %}

{% block content_dashboard %}
    <h1>Log in here!</h1>

    {% for message in messages %}

    <h2>{{message}}</h2>

    {% endfor %}

    <!--Register form-->
    <div class="Login form">
        <form action="{% url 'loginPage' %}" method="POST">
            {% csrf_token %} <!--To register user-->

            <div class="username">
                <p>Username: </p>
                <input type="text" name="username">
            </div>
            <div class="password">
                <p>Password: </p>
                <input type="text" name="password">
            </div>
            
            <div class="submit"></div>
                <div class="buttonDiv">
                <input type="submit" class="button" value="log in">
                </div>
            </div>
        </form>
    </div>
{% endblock %}