
<!--Extend from a base template-->
{% extends 'base.html' %}

{% block content_dashboard %}
    <!--Semantic tags are used to keep content organised
        SEO
        Screen readers for accessibility

            <header> - introductor content. Title, logo, author information
            <nav> - For navigation bar and links
            <main> - This is the main content of the page
                section, aside, article, div (generic)
            <section> - dependent (on page) of content
            <aside> - side content (author info, fun facts, quotes, external links, comments, etc)
            <article> - independent content (on page)
                E.g. news article, job post, blog post
            <footer> - closing content (autho info, copywrite info, etc.)
        
        
        -->



        
            {% if user.is_authenticated %}

                
                <h2>Welcome to the main page!</h2>

                <h3>You are currently logged in "{{ user.name }}"</h3>
                
                <p>
                    Feel free to explore this site!
                </p>
                <p>
                    If you are not already using the custom-made user account, feel free to log out and log back
                    in using the credentials below! Else you can register a new account if you wish by logging out 
                    first.
                </p>
                    <ul>
                        <li>Username: fake</li>
                        <li>Password: fakePass</li>
                    </ul>
                

            {% else %}
                <h2>Welcome to the main page!</h2>

                <h3>You are currently logged out</h3>

                <p>
                    Feel free to log out explore this site by registering an account or logging in with a custom-made fake account!
                </p>
                <ul>
                    <li>Username: fake</li>
                    <li>Password: fakePass</li>
                </ul>
                
                
            {% endif %}
    
{% endblock %}