<!--Extend from a base template-->
{% extends 'base.html' %}

{% block content_dashboard %}
    <h1>Register here!</h1>

    {% for message in messages %}

    <h2>{{message}}</h2>

    {% endfor %}

    <!--Register form-->
    <div class="RegisterForm">
        <form action="{% url 'registerPage' %}" method="POST">
            {% csrf_token %} <!--To register user-->

            <div class="username">
                <p>Username: </p>
                <input type="text" name="username" required>
            </div>
            <div class="password">
                <p>Password: </p>
                <input type="text" name="password" required>
            </div>
            <div class="password1">
                <p>Re-enter password: </p>
                <input type="text" name="password1" required>
            </div>
            <div class="email">
                <p>Email: </p>
                <input type="email" name="email" required>
            </div>
            <div class="name">
                <p>Name: </p>
                <input type="text" name="name" required>
            </div>
            
            <div class="submit">
                <div class="buttonDiv">
                    <input type="submit" class="button" value="register">
                </div>
            </div>
            
        </form>
    </div>
{% endblock %}